{% trans_default_domain 'uknight_search' %}

{% set page = page|default(0) %}

{% if res and res.items %}
  <div class="row search-row">
    {% for item in res.items %}
        {% include res.item_template %}
    {% endfor %}
  </div>
  
  {% if res.count > page * res.limit + res.items|length %}
{#  {% dump(res) %}
  {% dump(page) %} #}
    <div class="col-md-12 text-center">
      <div class="more-btn">
        <form name="more-{{ entity }}" id="more-{{ entity }}" action="{{ path('uknight_search_load_more') }}">
          <input type="hidden" name="s" value="{{ string }}">
          <input type="hidden" name="entity" value="{{ entity }}">
          <input type="hidden" name="page" value="{{ page + 1 }}">
          <button type="submit" class="more-inner">еще <i></i></button>
        </form>
      </div>
    </div>
  {% endif %}
{% endif %}
