{% extends 'base.html.twig' %}

{% block title %}{{ 'search'|trans }}: {{ string }}{% endblock %}

{% block body %}
    {% trans_default_domain 'uknight_search' %}
    {#<ul class="breadcrumbs ">#}
        {#<div class="container">#}
            {#<li>#}
                {#<a href="{{ path('homepage_path', {'_locale': locale}) }}">#}
                    {#<span property="name">#}
                        {#{{ 'Home'|trans }}#}
                    {#</span>#}
                {#</a>#}
            {#</li>#}
            {#<!-- Breadcrumb NavXT 5.7.0 -->#}
            {#<li class="home current_item">#}
                {#<span property="itemListElement" typeof="ListItem">#}
                    {#<span property="name">#}
                        {#{{ 'Serch results for'|trans }} '{{ string }}'#}
                    {#</span>#}
                    {#<meta property="position" content="1">#}
                {#</span>#}
            {#</li>#}
        {#</div>#}
    {#</ul>#}

    {#{{ dump(results) }}#}

    <!-- SEARCH RESULT -->
    <section class="alt">
        <div class="container">
            <h1 class="main-title">{{ 'search'|trans }}</h1>
            <h4>{{ 'search_term'|trans }}: "{{ string }}"</h4>

            {% for entity, res in results %}

                <h2 class="search search-entity-title">{{ res.title|trans }}:</h2>
                {% if res.items|length < 1 %}
                    <h2>{{ 'no_results'|trans }}</h2>
                {% else %}
                    {% include '@UknightSearch/Search/entity.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <!-- SEARCH RESULT END -->
{% endblock %}

{% block metas %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/uknightsearch/js/load_more.js') }}"></script>
{% endblock %}
